body{
  margin: 0;
  margin-top: 0px;
  padding: 0;
  background-color: lightblue;
}
.blog_post {
    margin: 20px;
    border:1px solid blue;
}
.container{
	margin-top:0px;
	margin-left:10px;
	max-width:1080px;
}
#sidebar{
    background-color: lightgray;
    margin-top:0px;
}
.siteContent{
    margin-left:205px;
    margin-top:20px;
}

}