body{
  margin: 0;
  margin-top: 0px;
  padding: 0;
}
.blog-item {
    max-height:600px;
 }
.blog_post {
    background-color: #3282b8;
    min-height:200px;
    padding-top:10px;
    padding-bottom:10px;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
}
.blog_post > a {
color: black;
}
.blog_post > a:hover {
color: black;
}
.container{
	margin-top:0px;
	margin-left:10px;
	max-width:1080px;
}
#sidebar{
    background-color: #1b262c;
    color: white;
    margin-top:0px;
}
.siteContent{
    margin-left:205px;
}
.new-blog-list{
    border:1px solid black;
    margin-top:10px;
    background-color: #bbe1fa;
}
.top-blog-list{
    border:1px solid black;
    margin-top:10px;
    background-color: #bbe1fa;
}
.blog-tile{
    cursor:pointer;
    min-height:60px;
    border-top: 1px solid black;
    color:black;
    margin-top:10px;
}
a {
    color:black;
}
.deactivation-panel {
    border: 1px solid black;
}
.manage_panel {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
.comment_pane {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #bbe1fa;
}
.blog-info {
    text-align: center;
    background-color: #3282b8;
    padding: 10px;
}
.fave-pane {
    text-align: center;
    margin:5px;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #bbe1fa;
    border: 1px solid #3282b8;
}
.fave-pane-new {
    background-color: #3282b8;
    font-weight: bold;
    border: 1px solid #0f4c75;
}
.count-block{

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

[name$="-image-clear"][name^="form-"], [for$="-image-clear_id"][for^="form-"] {
    display:none;
}



.app-info{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #0f4c75;

    font-weight: bold;
    color:white;
}

.read_more{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #0f4c75;
    background-color: #0f4c75;
    color: white;
    padding:5px;
}

.icon_wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #0f4c75;
    background-color: #0f4c75;
    color: white;
    padding:5px;
}

.post_manage{
    left: 0;
    top: 0;
    position: absolute;
    border: 1px solid #0f4c75;
    background-color: #0f4c75;
    color: white;
    padding:5px;
    display:block;
    margin: auto;
}
#spacer {
    width: 70px;
    float:left;
    display:inline-block
}

.post_title{
    display:block;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #3282b8;
    word-wrap: break-word;
    margin: auto;
}

.blog_return{
    background-color: #0f4c75;
    color: white;
    padding:5px;
    margin-bottom:10px;
    text-align: center;
}

.blog_image{
    max-width:100%;
    height:auto;
    max-height:800px;
    object-fit: cover;
}

.slideshow_image{
    display: none;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.post_delet{
    float: left;
    padding-right: 3px;
}

.carousel_wrap{
    width:100%;
    height:800px;
}

.favcount, .likecount{
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

.message_tile{
    background: #bbe1fa;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 5px 10px 5px;
    cursor:pointer;
    color:black;
}

.message{
    margin:20px;
    background: #bbe1fa;
}
.message-title{
    border-bottom: solid black 1px;
    padding:10px;
}
.message-content{
    padding:10px;
}
.message-date{
    font-size:90%;
    text-align:right;
}
.message_tile-title{

}
.message-new{
    background: #3282b8;
    font-weight: bold;
}
.message-count{
    text-align:right;
    font-weight: bold;
}
.messages_return{
    background-color: #0f4c75;
    color: white;
    padding:5px;
    margin-bottom:10px;
    text-align: center;
}

.message_button{

    padding:20px;
    margin:5px;
    text-align:center;
    border: 1px solid #3282b8;
}
.not-a-button{
    border: none;
    background-color: inherit;
    color: white;
}
.not-a-button:hover{
    color: black;
    background-color: white;
}

.black_line {
 border-bottom: 1px solid black;
 margin-bottom: 15px;
 margin-top: 15px;
}

.search_options{
    max-width: 350px;
    min-width: 350px;
}



/*
colors:
#1b262c -> darkest
#0f4c75
#3282b8
#bbe1fa -> brightest

*/