body{
  margin: 0;
  margin-top: 0px;
  padding: 0;
}
.blog-item {
    max-height:600px;
 }
.blog_post {
    background-color: #415A77;
    min-height:200px;
    padding-top:10px;
    padding-bottom:10px;
    display: inline-block;
    margin-bottom: 30px;
    overflow: hidden;
    color: white;
}
.blog_post > a {
color: black;
}
.blog_post > a:hover {
color: black;
}
.container{
	margin-top:0px;
	margin-left:10px;
	max-width:1080px;
}
#sidebar{
    background-color: #1b262c;
    color: white;
    margin-top:0px;
}
.siteContent{
    margin-left:205px;
}
.new-blog-list{
    border:1px solid black;
    margin-top:10px;
    background-color: #778DA9;
}
.top-blog-list{
    border:1px solid black;
    margin-top:10px;
    background-color: #778DA9;
}
.blog-tile{
    cursor:pointer;
    min-height:60px;
    border-top: 1px solid black;
    color:black;
    margin-top:10px;
}
a {
    color:black;
}
.deactivation-panel {
    border: 1px solid black;
}
.manage_panel {
    margin: 5px;
    padding: 5px;
}

.comment_pane {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #778DA9;
}
.blog-info {
    text-align: center;
    background-color: #415A77;
    padding: 10px;
    color: white;
}
.fave-pane {
    text-align: center;
    margin:5px;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #778DA9;
    border: 1px solid #415A77;
}
.fave-pane-new {
    background-color: #415A77;
    font-weight: bold;
    border: 1px solid #1B263B;
}
.count-block{

}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.post_blog-name > a{
    color: black;
}
.post_blog-name > a:hover{
    color: black;
    text-decoration: none;
}

[name$="-image-clear"][name^="form-"], [for$="-image-clear_id"][for^="form-"] {
    display:none;
}



.app-info{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #1B263B;

    font-weight: bold;
    color:white;
}

.read_more{
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #1B263B;
    background-color: #1B263B;
    color: white;
    padding:5px;
}

.icon_wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #1B263B;
    background-color: #1B263B;
    color: white;
    padding:5px;
}

.post_manage{
    left: 0;
    top: 0;
    position: absolute;
    border: 1px solid #1B263B;
    background-color: #1B263B;
    color: white;
    padding:5px;
    display:block;
    margin: auto;
}
#spacer {
    width: 70px;
    float:left;
    display:inline-block
}

.post_title{
    display:block;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #415A77;
    word-wrap: break-word;
    margin: auto;
}

.blog_return{
    background-color: #1B263B;
    color: white;
    padding:5px;
    margin-bottom:10px;
    text-align: center;
}

.blog_image{
    max-width:100%;
    height:auto;
    max-height:800px;
    object-fit: cover;
}

.slideshow_image{
    display: none;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.post_delet{
    float: left;
    padding-right: 3px;
}

.carousel_wrap{
    width:100%;
    height:800px;
}

.favcount, .likecount{
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

.message_tile{
    background: #778DA9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 5px;
    cursor:pointer;
    color:black;
}

.message{
    margin:20px;
}
.sent_message{
    background: #778DA9;
}
.received_message{
    background: #415A77;
}
.message-title{
    border-bottom: solid black 1px;
    padding:10px;
}
.message-content{
    padding:10px;
}
.message-date{
    font-size:90%;
    text-align:right;
}
.message_tile-title{

}
.message-new{
    background: #415A77;
    font-weight: bold;
}
.message-count{
    text-align:right;
    font-weight: bold;
}
.messages_return{
    background-color: #1B263B;
    color: white;
    padding:5px;
    margin-bottom:10px;
    text-align: center;
}

.message_button{

    padding:20px;
    margin:5px;
    text-align:center;
    border: 1px solid #415A77;
}
.not-a-button{
    border: none;
    background-color: inherit;
    color: white;
}
.not-a-button:hover{
    color: black;
    background-color: white;
}

.black_line {
 border-bottom: 1px solid black;
 margin-bottom: 15px;
 margin-top: 15px;
}

.search_options{
    max-width: 350px;
    min-width: 350px;
}
.found_blog{
    background-color: #778DA9;
    margin: 20px 5px 20px 5px;
    border: 2px solid #415A77;
    cursor: pointer;
}
.found_blog:hover{
    color: black;
    text-decoration: none;
    background-color: #415A77;
    border: 2px solid #778DA9;
}
a > .found_blog{
    color: black;
}
a.found_blog-link:hover{
    color: black;
    text-decoration: none;
}
.found_blog_name{
    font-weight: bold;
}
.found_blog_description{

}
.found_blog_topics{
    font-style:italic;
    font-size: small;
}
.found_blogs{
    margin-top: 5px;
    max-height: 90vh;
    overflow-y: scroll;

}
.found_blogs::-webkit-scrollbar{

}
.found_blogs::-webkit-scrollbar-thumb {
  background-color: #415A77;
  outline: 1px solid slategrey;
}
.blog_topics {
    text-align:center;
}
a.blog_topic {
    color:black;
}
.my_button {
    margin: 2px;
    background-color: #778DA9;
    color: black;
    border: 1px solid #1B263B;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;

}

.my_button a{
    color: black;
}
.my_button a:hover{
    color: black;
    text-decoration: none;
}
.my_button_active {
    background-color: #415A77;
    border: 1px solid #1B263B;
    color: white;
}

.my_form {
    margin: 2px;
    background-color: #778DA9;
    color: black;
    border: 1px solid #1B263B;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.index_post_tile {
    background-color: #415A77;
    min-height:200px;
    padding-top:10px;
    padding-bottom:10px;
    display: inline-block;
    overflow: hidden;
    max-height: 340px;
}
.index_post_tile > a {
color: black;
}
.index_post_tile > a:hover {
color: black;
}
.index-post-item {
    max-height: 400px;
    background-color: #778DA9;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post_blog-name {
    text-align: left;
}

.nolink{
    color: black;
}
.nolink:hover {
    text-decoration: none;
    color: black;
}

.paginator {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;

}

/*
colors:
#1b262c -> darkest
#0f4c75
#3282b8
#bbe1fa -> brightest

other:
#0D1B2A -> darkest
#1B263B
#415A77
#778DA9 -> brightest

*/