    {% extends 'base/base.html' %}
    {% load bbcode_tags %}
    {% block title %} Blogging App {% endblock %}

    {% block onload %}
        onload = "onLoadFunction()"
    {% endblock %}

    {% block content %}
        <div class="col-12 app-info rounded-bottom">
            <h5> Welcome to blogApp </h5>

        </div>

        {% if not request.user.is_authenticated %}
        <div class="col-12 notlogged_info rounded">

            You can simply browse top posts or try searching for blogs that fit your interests.
            <br>
            Consider
            <a href="{% url 'login' %}?next={{request.path}}"style="color:white;"> signing up </a> to enhance your experience :)
            <br>

        </div>
        {% endif %}
        <br><br>
        <div class="text-center row align-items-center justify-content-center">
        Most popular posts from: &nbsp
            <a href="?range=24h" target="none" style="display:block"><div class="my_button rounded" id="button_24h">24h</div></a>
            <a href="?range=7d" target="none" style="display:block"><div class="my_button rounded" id="button_7d">7d</div></a>
            <a href="?range=30d" target="none" style="display:block"><div class="my_button rounded" id="button_30d">30d</div></a>
            <a href="?range=1y" target="none" style="display:block"><div class="my_button rounded" id="button_1y">1y</div></a>
            <a href="?range=ever" target="none" style="display:block"><div class="my_button rounded" id="button_ever">ever</div></a>
        </div>

    {% for post in posts %}
    <div class="index_post text-center align-items-center justify-content-center col-12">
            <div class="index-post-item col-12 offset-md-1 col-md-10 offset-xl-2 col-xl-8 rounded-lg">
                <div class="post_blog-name"><a href="/blogs/{{post.post.blog.name}}/"><h5>{{post.post.blog.display_name}}</h5></a></div>

                        <div class="index_post_tile col-11 rounded-lg">
                            <div class="post_title">
                                <h4 style="color:white;"> {{post.post.title}} </h4>
                            </div>

                            <div style="text-align: left; color:white;">
                                {% bbcode post.post.content %}
                                {% if post.image_count > 0 %}

                                <img class="blog_image" src="/media/{{post.image.image}}">
                                {% endif %}
                            </div>

                            <div class="icon_wrapper">
                                <div>
                                    <i class="far fa-comments"></i> {{post.comment_count}}
                                </div>
                                <div>
                                    <i class="far fa-heart"></i> {{post.like_count}}
                                </div>

                                {% if post.image_count > 0 %}
                                <div>
                                    <i class="far fa-images"></i> {{post.image_count}}
                                </div>
                                {% endif %}

                            </div>

                            <a href="/blogs/{{post.post.blog.name}}/post/{{post.post.id}}/">
                                <div class="read_more">
                                    read more...
                                </div>
                            </a>
                        </div>
            </div>
    </div>
    {% endfor %}


    {% if posts.has_other_pages %}
            <div class="text-center row align-items-center justify-content-center">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?range={{range}}&page={{posts.previous_page_number}}"><i class="fas fa-chevron-left"></i></a></li>
                {% else %}
                <li class="disabled page-item"><span></span><i class="fas fa-chevron-left page-link"></i></li>
                {% endif %}
                {% for page in posts.paginator.page_range %}
                &nbsp
                    {% if posts.number == page %}
                <li class="active page-item"><span class="page-link"> {{ page }} <span class="sr-only"> (current) </span></span></li>
                    {% else %}
                <li class="page-item"><a class="page-link" href="?range={{range}}&page={{ page }}"> {{ page }} </a></li>
                    {% endif %}
                &nbsp
                {% endfor %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?range={{range}}&page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="disabled page-item"><span><i class="fas fa-chevron-right page-link"></i></span></li>
                {% endif %}
            </ul>
            </div>
            {% endif %}

    <script type="text/javascript">

    onLoadFunction = function()
    {
        var query = window.location.href.split('?')[1];
        if(query)
        {
            var searchParam = query.split('&')[0].split('=')[1];
            var buttonID = "button_" + searchParam;
        }
        else
        {
            var buttonID = "button_24h";
        }

        var button = document.getElementById(buttonID);
        button.classList.add("my_button_active");
    }

    </script>
    {% endblock %}
