<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>


    {% block head %} {% endblock %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title> {% block title %} {% endblock %} </title>


    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body {% block onload %} {% endblock %}>
    <div>
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px; background-color: #0D1B2A" id="sidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="closeSidebar()">Close &times;</button>
            <a href="/" class="w3-bar-item w3-button">Main Page</a>
            <a href="/search/" class="w3-bar-item w3-button"> Browse blogs </a>
            <div class="black_line"></div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{request.path}}" class="w3-bar-item w3-button">Logout</a>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}" class="w3-bar-item w3-button">Login/Register  </a>
            {% endif %}
        {% if request.user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="/admin/" class="w3-bar-item w3-button"> Admin panel</a>
                {% endif %}
            {% if request.user.blog %}
                {% if request.user.blog.active %}
                    <a href="/blogs/{{request.user.blog.name}}/" class="w3-bar-item w3-button"> My blog </a>
                {% else %}
                    <a class="w3-bar-item w3-button" style="cursor:default"> My blog</a>
                {% endif %}
                <a href="/blog/settings/" class="w3-bar-item w3-button"> Blog settings </a>
            {% else %}
                <a href="/create/" class="w3-bar-item w3-button"> Create blog </a>
            {% endif %}
        <a href="/favourite/" class="w3-bar-item w3-button"> Favourite blogs </a>
        <a href="/messages/" class="w3-bar-item w3-button"> Private messages </a>

        {% endif %}
    </div>

    <div class="siteContent w3-main">
        <div class="w3-container">
            <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="openSidebar()">&#9776;</button>
            <div class="container">
                <div class="col-12">


                {% block content %}
                {% endblock %}


                </div>
            </div>
        </div>
    </div>
</div>
     <script>
        function openSidebar() {
            document.getElementById("sidebar").style.display = "block";
        }

        function closeSidebar() {
            document.getElementById("sidebar").style.display = "none";
        }
     </script>

    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>