{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Browse blogs {% endblock %}

{% block onload %}
onload = "onLoadFunction()"
{% endblock %}

{% block content %}

<div class="row" style="margin-top:20px;">
    <div class="search_options col-xl-4 col-md-6 col-12">
        <form>
            {% crispy search_form %}
            <input type="submit" value='Search' id="button"/>
        </form>
    </div>
    <div class="found_blogs col-xl-8 col-md-6 col-12">
        {% for blog in blogs %}
        <a href="/blogs/{{blog.blog.name}}/" class="found_blog-link">
            <div class="found_blog col-12 rounded">
                <div class="found_blog_name">{{blog.blog.display_name}}</div>
                <div class="found_blog_topics">
                    {% for topic in blog.blog.topics.all %}
                    {{topic.name}};
                    {% endfor %}
                </div>
                <div class="found_blog_description">"{{blog.blog.description}}"</div><br>
                <div class="found_blog_favs">
                     {{blog.favcount}}<i class="far fa-star"></i>

                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>

{% if blogs.has_other_pages %}
            <div class="text-center row align-items-center justify-content-center">
            <ul class="pagination">
                {% if blogs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{blogs.previous_page_number}}&order={{order}}&sort_by={{sort_by}}&topics={{topics}}"><i class="fas fa-chevron-left"></i></a></li>
                {% else %}
                <li class="disabled page-item"><span></span><i class="page-link fas fa-chevron-left"></i></li>
                {% endif %}
                {% for page in blogs.paginator.page_range %}
                &nbsp
                    {% if posts.number == page %}
                <li class="active page-item"><span class="page-link"> {{ page }} <span class="sr-only"> (current) </span></span></li>
                    {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}&order={{order}}&sort_by={{sort_by}}&topics={{topics}}"> {{ page }} </a></li>
                    {% endif %}
                &nbsp
                {% endfor %}
                {% if blogs.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}&order={{order}}&sort_by={{sort_by}}&topics={{topics}}"><i class="fas fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="disabled page-item"><span><i class="fas fa-chevron-right page-link"></i></span></li>
                {% endif %}
            </ul>
            </div>
            {% endif %}


<script type="text/javascript">

    onLoadFunction = function()
    {
        var searchQuery = window.location.href.split('?')[1];
        var searchParams = searchQuery.split('&');

        for(i=0; i<searchParams.length; i++)
        {
            if(searchParams[i].split("=")[0].localeCompare("order")==0)
            {
                var order = searchParams[i].split("=")[1];
                document.querySelector('#id_order').value = order;

            }
            else if(searchParams[i].split("=")[0].localeCompare("sort_by")==0)
            {
                var sortBy = searchParams[i].split("=")[1];
                document.querySelector('#id_by').value = sortBy;
            }
            else if(searchParams[i].split("=")[0].localeCompare("topics")==0)
            {
                var topics_string = searchParams[i].split("=")[1].replace("[","").replace("]","").replace(" ","");
                var topics = topics_string.split(",");
                var checkBoxes = document.getElementsByName("topics");

                for(j=0; j<checkBoxes.length; j++)
                {
                    for(k=0; k<topics.length; k++)
                    {
                        if(checkBoxes[j].value == topics[k])
                            checkBoxes[j].checked = true;
                    }
                }
            }
        }
    }

    document.getElementById('button').onclick = function() {
        var form = document.forms[0]
        var i = 1;
        var topics = [];
        while(i<form.length)
        {
            if(form.elements[i].type=="checkbox" && form.elements[i].checked==true)
                topics.push(form.elements[i].value);
            i++;
        }

        if(topics.length>3)
        {
            for(j=0; j<form.length; j++)
            {
                document.forms[0].elements[j].checked=false;
            }
            alert("Choose no more than 3 topics");
            return false;
        }
        var query = "?order=" + document.getElementById('id_order').value + "&sort_by=" + document.getElementById('id_by').value + "&topics=" + topics.join();
        var url = window.location.href.split('?')[0] + query;
        window.location.replace(url);
    }



</script>

{% endblock %}