{% extends 'base/base.html' %}

    {% block title %}
    {{blog.display_name}}
    {% endblock %}

    {% block content %}
    {% if not blog.active %}
        <h2> <strong>Blog has been deactivated!</strong></h2>
    {% else %}
        <div class="container">
            <div class="col-12">
                <div class="blog-info col-12">
                    <h1>{{blog.display_name}} </h1>
                    <h4>{{blog.description}}</h4>
                    <div> Blog is being run by: {{blog.owner}}</div>
                </div>
                <br><br>
                <div class="favcount">
                    Faved by {{ favcount }} users
                </div>
                <div class="text-center row align-items-center justify-content-center">
                {% if request.user.is_authenticated %}
                    {% if blog.name == request.user.blog.name %}
                        <a href="/blog/post/create/" target="none"><button>Create new post</button></a>

                    {% elif not is_faved %}
                        <form method="post" action="add_to_favourites/">
                            {% csrf_token %}
                            <button type="submit">Fave <i class="far fa-star"></i> </button>
                        </form>
                    {% elif is_faved %}
                        <form method="post" action="remove_from_favourites/">
                            {% csrf_token %}
                            <button type="submit">Unfave <i class="fas fa-ban"></i> </button>
                        </form>
                    {% endif %}
                    {% endif %}


                    </div>

                    <br><br><br>

                {% for post in posts %}
                    <div class="text-center align-items-center justify-content-center blog-item" style="margin-bottom:20px;">

                        <div class="blog_post col-12" style="max-height:inherit">

                            {% if blog.name == user.blog.name %}
                            <div class="post_manage">
                                <div class="post_delet">
                                    {% include 'blog/blog_delete_post.html' %}
                                </div>
                                <a href="/blog/post/update/{{post.post.id}}/" class="post-updat"><button><i class="fa fa-cog"></i></button></a>
                            </div><div id="spacer">&nbsp</div>
                            {% endif %}

                            <div class="post_title">
                                <h4> {{post.post.title}} </h4>
                            </div>

                            <div >
                                {{post.post.content|linebreaks}}
                                {% if post.image %}

                                <img class="blog_image" src="/media/{{post.image.image}}">
                                {% endif %}
                            </div>

                            <div class="icon_wrapper">
                                <div>
                                    <i class="far fa-comments"></i> {{post.post_count}}
                                </div>
                                {% if not blog.name == request.user.blog.name  %}
                                        {% if post.is_liked %}
                                            <form method="post" action="post/{{post.post.id}}/unlike/?main=true&page={{page}}">
                                                {% csrf_token %}
                                                <button class="not-a-button" type="submit"><i class="fas fa-heart"></i>{{post.like_count}}</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="post/{{post.post.id}}/like/?main=true&page={{page}}">
                                                {% csrf_token %}
                                                <button class="not-a-button" type="submit"><i class="far fa-heart"></i> {{post.like_count}}</button>
                                            </form>
                                        {% endif %}
                                {% else %}
                                <div>
                                    <i class="far fa-heart"></i> {{post.like_count}}
                                </div>
                                {% endif %}

                                {% if post.image_count > 0 %}
                                <div>
                                    <i class="far fa-images"></i> {{post.image_count}}
                                </div>
                                {% endif %}

                            </div>

                            <a href="/blogs/{{blog.name}}/post/{{post.post.id}}/">
                                <div class="read_more">
                                    read more...
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

            {% if posts.has_other_pages %}
            <div class="text-center row align-items-center justify-content-center">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li><a href="?page={{posts.previous_page_number}}"><i class="fas fa-chevron-left"></i></a></li>
                {% else %}
                <li class="disable"><span></span><i class="fas fa-chevron-left"></i></li>
                {% endif %}
                {% for page in posts.paginator.page_range %}
                &nbsp
                    {% if posts.number == page %}
                <li class="active"><span> {{ page }} <span class="sr-only"> (current) </span></span></li>
                    {% else %}
                <li><a href="?page={{ page }}"> {{ page }} </a></li>
                    {% endif %}
                &nbsp
                {% endfor %}
                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
                {% else %}
                    <li class="disable"><span><i class="fas fa-chevron-right"></i></span></li>
                {% endif %}
            </ul>
            </div>
            {% endif %}

    <script>
        function confirm_delet(e)
        {
            try{
                var confirmation = confirm('Are you sure?');
                if (!confirmation)
                {
                    e.preventDefault();
                }
            }
            catch(err)
            {
                alert(err);
            }
        }
    </script>
    {% endif %}
    {% endblock %}