{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}

<div class="col-12 blog_return"> <a href="/blogs/{{post.blog.name}}/" style="color:inherit;" class="stretched-link">Return to the blog</a></div>

{% if like_count > 0 %}
<div class="likecount">
                    Post liked by {{ like_count }} users
</div>
{% endif %}
<div class="text-center row align-items-center justify-content-center">
                {% if request.user.is_authenticated %}
                    {% if not post.blog.name == request.user.blog.name %}
                        {% if not is_liked %}
                            <form method="post" action="like/">
                                {% csrf_token %}
                                <button type="submit">Like <i class="far fa-heart"></i> </button>
                            </form>
                        {% elif is_liked %}
                            <form method="post" action="unlike/">
                                {% csrf_token %}
                                <button type="submit">Unlike <i class="fas fa-ban"></i> </button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}

</div>

<br><br><br>

<div class="blog_post col-12">
    <h4>{{post.title}}</h4>
    {{post.content|linebreaks}}
    {% if images %}

    <div class="w3-content w3-display-container carousel_wrap">
        {% for image in images %}
        <div class="text-center row align-items-center justify-content-center">
        <image src="/media/{{image.image}}" class="slideshow_image blog_image"></image>
            </div>
        {% endfor %}
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

    {% endif %}
</div>
<br><br>
{% if request.user.is_authenticated %}
<div class="text-center row align-items-center justify-content-center">
    <form method="post" name="post_comment_form" class="col-sm-12 col-md-8 col-lg-6">
        {% csrf_token %}
        {{post_comment_form|crispy}}
        <input type="submit" value="Comment"/>
    </form>
</div>
{% else %}
    <br><br><br><br>
{% endif %}

{% for comment in comments %}
<div class="text-center row align-items-center justify-content-center" id="post_comments">
    <div class="comment_pane col-bg-6 col-md-8 col-12">
        {% if comment.author == post.blog.owner %}
        <strong style="color:blue">{{comment.author}}</strong><br>
        {% else %}
        <strong>{{comment.author}} (<a href="/blogs/{{comment.author.blog.name}}/">{{comment.author.blog.name}}</a>)</strong><br>
        {% endif %}
        {{comment.content}}
    </div>
</div>
{% endfor %}

{% if comments.has_other_pages %}
<div class="text-center row align-items-center justify-content-center">
    <ul class="pagination">
        {% if comments.has_previous %}
        <li><a href="?page={{ comments.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
        <li class="disable"><span></span><i class="fas fa-chevron-left"></i></li>
        {% endif %}
        {% for page in comments.paginator.page_range %}
        &nbsp
        {% if comments.number == i %}
        <li class="active"><span> {{ page }} <span class="sr-only"> (current) </span></span></li>
        {% else %}
        <li><a href="?page={{ page }}"> {{ page }} </a></li>
        {% endif %}
        &nbsp
        {% endfor %}
        {% if comments.has_next %}
        <li><a href="?page={{ messages.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
        {% else %}
        <li class="disable"><span><i class="fas fa-chevron-right"></i></span></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% if images %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("slideshow_image");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
}
{% endif %}
</script>
{% endblock %}