{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {% if not request.user.blog or not request.user.blog.name == post.blog.name %}
        <meta http-equiv="refresh" content="0; url='{{request.get_full_path|slice:':-5'}}'" />
    {% endif %}
{% endblock %}

{% block title %}
    Update post
{% endblock %}

{% block content %}

<div class="col-12 blog_return"> <a href="/blogs/{{post.blog.name}}/" style="color:inherit;" class="stretched-link">Return</a></div>
<form method="post" class="my_form rounded" enctype="multipart/form-data">
    {% csrf_token %}
    {{update_post_form|crispy}}
    {{image_formset.management_form}}
    {{image_formset|crispy}}

    <input type="submit" class="my_button_active rounded" value="Update"/>
</form>

{% endblock %}